.logo{

display: block;
margin: auto;
width: 70px;
height: 70px;


}

h1{
  margin-top: 12px;
  
  font-size: 30px;
  text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif';

}
body{
    height: 100vh;
    background-image:linear-gradient( lightblue,green);
}



.container{
max-width: 950px;
border: 2px solid black;
margin: auto;
height:60vh;
border-radius: 13px;

padding: 33px;
overflow-y: scroll;

}


#send-container{

    text-align: center;
display: block;
margin: auto;
max-width: 1031px;;
margin-top: 20px;;
display: flex;
justify-content: center;
align-items: center;

}

.btn{
  
  cursor: pointer;
  border: 2px solid black;
  border-radius: 6px;
  height: 34px;
width: 9%;
margin:0px 5px;

}

#messageInp{
width: 80%;
border: 2px solid black;
border-radius: 6px;
height: 35px;;;


}

.message{

background-color:rgb(211,204,204);
width:24%;
padding:10px;
margin: 17px 12px;
border: 2px solid black;
border-radius: 10px;;

}

.left{

float: left;
clear: both;
}

.right{
float: right;
clear: both;

}



